<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-compatible content=IE-edge"/>
    <meta name="viewport" content="width-device-width, initial-scale.0"/>
    <title>Calculator</title>

</head>
<body>
<h> Calculator Main Page </h>
<form method="post">
    {% csrf_token %}
<h1>enter number 1:</h1>
<label for="num1">enter number 1</label>
<input type="text" name="num1" placeholder="enter number 1">
<br><br>
<label for="num2">enter number 2</label>
<input type="text" name="num2" placeholder="enter number 2">
<br><br>
<label for="op">enter operation</label>
<input type="text" name="op" placeholder="enter operation">
<br><br>
<button type="submit">
    submit
</button>
</form>
<!-- <-- janja template {{result}}-that there are sending the value from back-end--> -->
{% if result %}
<h1>result: {{result}}</h1>
{% endif %}
</body>

</html>
